/* Text Styles */
body {
  background-color: #f0ebd9ff;
  font-family: Garamond, serif;
  font-size: 16px;
  color: #0e0f00ff;
  margin: 4vw;
}
col {
  margin-left: 2em;
}
h1 {
  font-size: 24px;
  margin: 2vw;
}
p {
  margin: 2vw;
}
a {
  color: #4a740fff;
}

/* Layout */
.container-fluid {
  width: 100%;
}
.logo {
  position: sticky;
  top: 80%;
}
